<h3>Akira</h3>
<p class="bottom-bumper">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae elit libero, a pharetra augue. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.</p>
<div class="social">
  <a href="http://awongh.com"><span class="icon-sphere"></span></a>
  <a href="https://github.com/awongh"><span class="icon-github"></span></a>
  <a href="https://www.linkedin.com/in/akira-wong-3b175619"><span class="icon-linkedin"></span></a>
</div>
