header {
  padding: 20px 15px;
  flex-grow: 0;

  a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;

    svg {
      position: relative;
      top: 4px;
    }

    &:active {
      color: #FFF;
      text-decoration: none;
    }

    &:visited {
      color: #FFF;
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
    }

    &.logo {
      color: inherit;
      font-size: 30px;

      &:hover {
        color: #F3F3F3;
      }
    }
  }
}
