@import 'variables';
@import 'reset';
@import 'flexboxgrid';

@import 'header';
@import 'content-image';
@import 'content-body';

html, body {
  height: 100%;
}

body {
  color: #FFF;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('http://i.imgur.com/qAlNWZH.jpg') no-repeat center center fixed;
  background-size: cover;

}
